{% extends 'base.html.twig' %}

{% block title %}Form For JobData!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}    
    <p>flag - {{ flag }}</p>
{% endblock %}